* { box-sizing:border-box; }
html { background-color:#222; }
body { margin:0; font-family:arial; color:var(--font-color); }

:root {
  --color-d:#ddd;
  --color-lnk:#f72;

  --bg-color:#fff;
  --font-color:#111;
  --border-color:#ccc;
  --panel-color:#eee;
  --tag-color:#abd;
  --badge-color:rgb(247, 157, 101);
  --grad-color1:#eee;
  --grad-color2:#ddd;
  --grad-color3:#444;
  --grad-color4:#666;
  --accent-default-color:#f6f8fa;
  --accent-primary-color:#568;
  --accent-success-1:#dfd;
  --accent-success-2:#bfb;
}

.dark {
  --color-d:#ddd;
  --color-lnk:#d50;

  --bg-color:#222;
  --font-color:#ddd;
  --border-color:#555;
  --panel-color:#333;
  --tag-color:#457;
  --badge-color:#c40;
  --grad-color1:#444;
  --grad-color2:#333;
  --grad-color3:#444;
  --grad-color4:#666;
  --accent-default-color:#2b2b2b;
  --accent-primary-color:#89b;
  --accent-success-1:#575;
  --accent-success-2:#141;
}

a, a:visited { color:var(--color-lnk); }
.header { background: linear-gradient(var(--grad-color1) 50%, var(--grad-color2) 50%, var(--grad-color1)); padding:5px 15px; }
.header-icon { vertical-align:middle; border-radius:24px; margin-right:10px; border:1px solid var(--border-color); }
.container { width:100%; max-width:1260px; margin:0 auto; }
.page-content { padding:15px; background:var(--bg-color); padding-bottom:50px; }
.footer .container { background:linear-gradient(to right,var(--grad-color3),var(--grad-color3),var(--grad-color4)); padding:40px 15px 80px; color:var(--color-d); position:relative; }
.footer div.moon { background:url(/img/moono.png) no-repeat; background-size:320px; width:240px; height:360px; position:absolute; right:0px; top:-60px; }
/*
.fa-sun  { display:inline-block; width:20px; height:20px; background:url(/img/svg/sun.svg); }
.fa-moon { display:inline-block; width:20px; height:20px; background:url(/img/svg/moon.svg); }
*/
.fa-sun {
  display:inline-block; width:24px; height:24px; margin-top:10px;
  -webkit-mask: url(/img/svg/sun.svg) no-repeat 50% 50%;
  mask: url(/img/svg/sun.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color:var(--font-color);
}
.fa-moon {
  display:inline-block; width:24px; height:24px; margin-top:10px;
  -webkit-mask: url(/img/svg/moon.svg) no-repeat 50% 50%;
  mask: url(/img/svg/moon.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color:var(--font-color);
}
.fa-sun, .dark .fa-moon { display:none; }
.dark .fa-sun { display:inline-block; }
.float-end { float:right; }
.actionable { cursor:pointer; }

.action-bar { background: linear-gradient(var(--grad-color1) 50%, var(--grad-color2) 50%, var(--grad-color1)); padding:10px; }

/* .moonwalk */
.moonwalk { border:1px solid var(--border-color); padding:10px; margin:4px; border-radius:5px; }
.moonwalk .title { font-size:1.7em; }
.moonwalk .published { font-size:0.8em; }

.message-list { margin:0 -15px; }
.badge { background:var(--badge-color); color:var(--font-color); padding:4px 10px; border-radius:20px; margin-right:5px; }
.tag-list { padding:5px 0; }
.tag { display:inline-block; background:var(--tag-color); border:1px solid var(--color-2); padding:5px 15px; margin:0 10px 0 0; border-radius:20px; }
.tag-icon { border-radius:15px; margin:-2px 5px -2px -10px; vertical-align:middle; }

.message .info { font-size:.72em; background:var(--accent-default-color); border:1px solid var(--border-color); border-bottom:0px; border-radius:8px 8px 0 0; padding:7px 15px; }
.message .created { color:#777; }
.message .user { color:var(--accent-primary-color); font-weight:bold; font-size:1.2em; }
.message .content { padding:12px; border:1px solid var(--border-color); border-bottom:0; font-size:1em; }
.message .foot { font-size:.7em; text-transform:uppercase; border:1px solid var(--border-color); border-top:0; border-radius:0 0 8px 8px; padding:3px 15px; }
.message .jumplink { display:inline-block; padding:4px; color:#777; text-decoration:none; }
.avatar { vertical-align:middle; border-radius:8px; border:1px solid #ccc; margin:0 10px 0 0; float:left; }
.message.solution .info { background:var(--accent-success-2); }
.message.solution .content { background:var(--accent-success-1); }
.message.solution .foot { background:var(--accent-success-1); }
pre { padding:15px; margin:0 -12px; }

.embeds { margin:0; overflow:auto; }
.embeds .item { float:left; margin:10px; padding:5px; font-size:.6em; border:1px solid var(--border-color); border-radius:5px; }
.attachments { margin:0; overflow:auto; }
.attachments .item { float:left; margin:10px; padding:5px; font-size:.6em; border:1px solid var(--border-color); border-radius:5px; }

.msg-type span { color:#fff; background:#aaa; display:inline-block; padding:2px 7px; font-size:.8em; border-radius:7px; float:right; }

/* desktop overrides */
@media (min-width: 580px) {
  .message-list { margin:0; }
  .message { border-top:0px solid var(--border-color); padding:0 0 20px; margin:0 0 0 60px; max-width:800px; }
  .moonwalk .published { font-size:0.8em; float:right; }
}