---
const { tags } = Astro.props;

tags.forEach((tag) => {
  if (tag.emoji) {
    if (tag.emoji.id) tag.icon = `<img class="tag-icon" src="https://cdn.discordapp.com/emojis/${tag.emoji.id}.png?size=64" height="30" alt="${tag.name}" />`;
  }
  console.log(tag);
});
---
<div class="tag-list">
{tags.map((tag) => (
  <span class="tag">
    <span set:html={tag.icon}></span>
    #{tag.name}
  </span>
))}
</div>
